@import url('https://fonts.googleapis.com/css?family=Oswald:400,700');
@import url('https://fonts.googleapis.com/css?family=Bitter');

body{
	margin: 0;
	background-image: url(back.jpg);
    background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
    background-attachment: fixed;
    font-size: 13px;
    font-family: 'Bitter', serif;

}

.loginbox{
	width: 320px;
	height: 580px;
	background: rgba(0,0,0,0.8);
	color: #fff;
	top: 67%;
	left: 50%;
	position: absolute;
	transform: translate(-50%,-50%);
	box-sizing: border-box;
	padding: 30px 30px;
}

h1{
	margin: 0px;
	padding: 0px 0px 20px 0px;
	text-align: center;
	font-size: 18px;
}

.loginbox p{
	margin: 0;
	padding: 0;
	font-weight: bold;
}
.loginbox input{
	width: 100%;
	margin-bottom: 10px;
}
.loginbox input[type="text"], input[type="password"]{
	border: none;;
	border-bottom: 1px solid #fff;
	background: transparent;
	outline: none;
	height: 40px;
	color: #fff;
	font-size: 15px;
}
.button {
    width:200px;
    margin-left:30px;
	border: none;
	outline: none;
	height: 40px;
	background: #fb2525;
	color: #fff;
	font-size: 17px;
	border-radius: 20px;
}
.button:hover{
	cursor: pointer;
	background: #ce0b23;
	color: #000;
}
.loginbox a{
    margin-left:45px;
	text-decoration: none;
	font-size: 15px;
	line-height: 20px;
	color:#4d648d;
}
.loginbox a:hover{
	color: #8b9dc3;
}